#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// OS設定を日本語キーボードのまま使用するための変換定義

#define JP_DQ           AT                // "
#define JP_AMP          CARET             // &
#define JP_Q            AMPERSAND         // '
#define JP_EQUAL        UNDER             // =
#define JP_CRT          EQUAL             // ^
#define JP_YEN          0x89              // ¥
#define JP_PLUS         COLON             // +
#define JP_TI           PLUS              // ~
#define JP_PIPE         LS(0x89)          // |
#define JP_AT           LEFT_BRACKET      // @
#define JP_COLON        SINGLE_QUOTE      // :
#define JP_ASTERISK     DOUBLE_QUOTES     // *
#define JP_BACKQ        LEFT_BRACE        // `
#define JP_USC          LS(0x87)          // _
#define JP_LBRT         RIGHT_BRACKET     // [
#define JP_RBRT         BACKSLASH         // ]
#define JP_LP           ASTERISK          // (
#define JP_RP           LEFT_PARENTHESIS  // )
#define JP_LB           RIGHT_BRACE       // {
#define JP_RB           PIPE              // }
#define KANA            LANGUAGE_1        // かな
#define EISU            LANGUAGE_2        // 英数
#define HANZE           GRAVE             // 半角/全角

#define SF              LSHIFT
#define ETR             ENTER
#define UNDO            RC(Z)
#define REDO            RC(Y)
#define BS              BACKSPACE
#define DEL             DELETE
#define CT              RCTRL
#define AL              RALT
#define SCR             LG(LS(S))
#define CAD             RC(RA(DEL))
#define SP              SPACE
#define SCLN            SEMICOLON

#define SC_L            SCRL_LEFT
#define SC_R            SCRL_RIGHT
#define SC_U            SCRL_UP
#define SC_D            SCRL_DOWN

/ {
    behaviors {
      #include "macros.dtsi"
      #include "version.dtsi"

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>; //誤爆が多いなら require-prior-idle-ms を 150、修飾キーが出にくいなら 100 に下げる
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        //    label = "HOMEROW_MODS";
        //    tapping-term-ms = <150>;
        //    quick-tap-ms = <100>;
        //    flavor = "hold-preferred";

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp HANZE	&kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &tog 1                                                  &mo 3   &kp F6     &kp F7    &kp F8     &kp F9    &kp F10      &kp F11
&kp TAB   &kp Q     &kp W     &kp E     &kp R     &kp T     &none                                                   &none   &kp Y      &kp U     &kp I      &kp O     &kp P        &kp MINUS
&kp CT    &kp A     &kp S     &lt 2 D   &kp F     &kp G     &none      &kp SCR    &kp SCR        &trans    &kp LWIN &none   &kp H      &kp J     &kp K      &kp L     &mt AL SCLN  &kp JP_COLON
&kp SF    &kp Z     &kp X     &kp C     &kp V     &kp B                           &kp HOME       &kp PG_UP                  &kp N      &kp M     &kp COMMA  &kp DOT   &mt SF SLASH &kp JP_YEN
&kp EISU  &kp LWIN  &kp LALT  &kp ETR   &kp BS              &lt 1 SP   &lt 2 DEL  &kp END        &kp PG_DN &kp ETR  &kp BS             &trans    &trans     &trans    &trans       &kp JP_USC
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&trans    &kp F11   &kp F12   &trans    &trans    &trans    &trans                                                  &mo 3   &trans     &trans     &trans      &trans      &trans       &trans
&trans    &kp EXCL  &kp JP_DQ &kp HASH  &kp DLLR  &kp PRCNT &none                                                   &none   &kp JP_AMP &kp JP_Q   &kp JP_LP   &kp JP_RP   &trans       &trans
&trans   	&kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &none      &trans     &trans         &trans    &trans   &none   &trans     &kp JP_CRT &kp JP_LBRT &kp JP_RBRT &kp JP_AT    &trans
&trans    &kp N6    &kp N7    &kp N8    &kp N9    &kp N0                          &trans         &trans                     &trans		 &kp JP_TI  &kp JP_LB   &kp JP_RB   &kp JP_BACKQ &trans
&trans    &kp UNDO  &kp REDO  &kp TAB   &kp ESC             &trans     &trans     &trans         &trans  	 &trans  	&kp KANA           &trans     &trans      &trans	    &trans       &trans
            >;
        };
        
        fn {
            display-name = "Fn";
            bindings = <
&trans    &trans    &trans    &trans    &trans    &trans    &trans                                                  &mo 3   &trans     &trans    &trans     &trans    &trans      &trans
&trans    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &none                                                   &none   &kp F6     &kp F7    &kp F8     &kp F9    &kp F10     &kp F11
&trans   	&trans    &msc SC_L &msc SC_U &msc SC_D &msc SC_R &none      &trans     &trans         &trans    &trans   &none   &kp LEFT   &kp DOWN  &kp UP     &kp RIGHT &trans      &trans
&trans    &trans    &mkp RCLK &mkp MCLK &mkp LCLK &trans                          &trans         &trans                     &kp HOME   &kp PG_DN &kp PG_UP  &kp END   &trans      &trans
&trans    &trans    &trans    &trans    &trans              &kp SP     &kp DEL    &trans         &trans  	 &trans  	&trans             &trans    &trans     &trans	  &trans      &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
        
    };
};
